In [5]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt 
import seaborn as sns

In [91]:
red_wine = pd.read_csv('Wine Project\winequality-red.csv', delimiter= ';')

white_wine = pd.read_csv('Wine Project\winequality-white.csv', delimiter= ';')

In [94]:
red_wines = pd.DataFrame(red_wine)
white_wines = pd.DataFrame(white_wine)

red_wines = round(red_wines, 2)
white_wines = round(white_wines, 2)

In [95]:
# Data Wrangling
# Head & Tail red wines

red_wines.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.08,11.0,34.0,1.00,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.10,25.0,67.0,1.00,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.09,15.0,54.0,1.00,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.08,17.0,60.0,1.00,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.08,11.0,34.0,1.00,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.08,13.0,40.0,1.00,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.07,15.0,59.0,1.00,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.06,15.0,21.0,0.99,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.07,9.0,18.0,1.00,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.07,17.0,102.0,1.00,3.35,0.80,10.5,5

In [96]:
red_wines.tail(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1589,6.6,0.72,0.20,7.8,0.07,29.0,79.0,1.00,3.29,0.54,9.2,5
1590,6.3,0.55,0.15,1.8,0.08,26.0,35.0,0.99,3.32,0.82,11.6,6
1591,5.4,0.74,0.09,1.7,0.09,16.0,26.0,0.99,3.67,0.56,11.6,6
1592,6.3,0.51,0.13,2.3,0.08,29.0,40.0,1.00,3.42,0.75,11.0,6
1593,6.8,0.62,0.08,1.9,0.07,28.0,38.0,1.00,3.42,0.82,9.5,6
1594,6.2,0.60,0.08,2.0,0.09,32.0,44.0,0.99,3.45,0.58,10.5,5
1595,5.9,0.55,0.10,2.2,0.06,39.0,51.0,1.00,3.52,0.76,11.2,6
1596,6.3,0.51,0.13,2.3,0.08,29.0,40.0,1.00,3.42,0.75,11.0,6
1597,5.9,0.64,0.12,2.0,0.08,32.0,44.0,1.00,3.57,0.71,10.2,5
1598,6.0,0.31,0.47,3.6,0.07,18.0,42.0,1.00,3.39,0.66,11.0,6

In [97]:
# head and tail white wines

white_wines.head(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.04,45.0,170.0,1.00,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.05,14.0,132.0,0.99,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.05,30.0,97.0,1.00,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.06,47.0,186.0,1.00,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.06,47.0,186.0,1.00,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.05,30.0,97.0,1.00,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.0,0.04,30.0,136.0,0.99,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.7,0.04,45.0,170.0,1.00,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.6,0.05,14.0,132.0,0.99,3.30,0.49,9.5,6
9,8.1,0.22,0.43,1.5,0.04,28.0,129.0,0.99,3.22,0.45,11.0,6

In [98]:
white_wines.tail(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4888,6.8,0.22,0.36,1.20,0.05,38.0,127.0,0.99,3.04,0.54,9.2,5
4889,4.9,0.24,0.27,11.75,0.03,34.0,118.0,1.00,3.07,0.50,9.4,6
4890,6.1,0.34,0.29,2.20,0.04,25.0,100.0,0.99,3.06,0.44,11.8,6
4891,5.7,0.21,0.32,0.90,0.04,38.0,121.0,0.99,3.24,0.46,10.6,6
4892,6.5,0.23,0.38,1.30,0.03,29.0,112.0,0.99,3.29,0.54,9.7,5
4893,6.2,0.21,0.29,1.60,0.04,24.0,92.0,0.99,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.00,0.05,57.0,168.0,0.99,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.20,0.04,30.0,111.0,0.99,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.10,0.02,20.0,110.0,0.99,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.80,0.02,22.0,98.0,0.99,3.26,0.32,11.8,6

In [29]:
# shape red wine

red_wines.shape

(1599, 1)

In [31]:
# shape white wine

white_wines.shape

(4898, 1)

In [99]:
# info red wine

red_wines.info

<bound method DataFrame.info of       fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4              0.70         0.00             1.9       0.08
1               7.8              0.88         0.00             2.6       0.10
2               7.8              0.76         0.04             2.3       0.09
3              11.2              0.28         0.56             1.9       0.08
4               7.4              0.70         0.00             1.9       0.08
...             ...               ...          ...             ...        ...
1594            6.2              0.60         0.08             2.0       0.09
1595            5.9              0.55         0.10             2.2       0.06
1596            6.3              0.51         0.13             2.3       0.08
1597            5.9              0.64         0.12             2.0       0.08
1598            6.0              0.31         0.47             3.6       0.07

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0     1.00  3.51       0.56
1                    25.0                  67.0     1.00  3.20       0.68
2                    15.0                  54.0     1.00  3.26       0.65
3                    17.0                  60.0     1.00  3.16       0.58
4                    11.0                  34.0     1.00  3.51       0.56
...                   ...                   ...      ...   ...        ...
1594                 32.0                  44.0     0.99  3.45       0.58
1595                 39.0                  51.0     1.00  3.52       0.76
1596                 29.0                  40.0     1.00  3.42       0.75
1597                 32.0                  44.0     1.00  3.57       0.71
1598                 18.0                  42.0     1.00  3.39       0.66

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
...       ...      ...
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

[1599 rows x 12 columns]>

In [100]:
# info white wine

white_wines.info

<bound method DataFrame.info of       fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.0              0.27         0.36            20.7       0.04
1               6.3              0.30         0.34             1.6       0.05
2               8.1              0.28         0.40             6.9       0.05
3               7.2              0.23         0.32             8.5       0.06
4               7.2              0.23         0.32             8.5       0.06
...             ...               ...          ...             ...        ...
4893            6.2              0.21         0.29             1.6       0.04
4894            6.6              0.32         0.36             8.0       0.05
4895            6.5              0.24         0.19             1.2       0.04
4896            5.5              0.29         0.30             1.1       0.02
4897            6.0              0.21         0.38             0.8       0.02

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    45.0                 170.0     1.00  3.00       0.45
1                    14.0                 132.0     0.99  3.30       0.49
2                    30.0                  97.0     1.00  3.26       0.44
3                    47.0                 186.0     1.00  3.19       0.40
4                    47.0                 186.0     1.00  3.19       0.40
...                   ...                   ...      ...   ...        ...
4893                 24.0                  92.0     0.99  3.27       0.50
4894                 57.0                 168.0     0.99  3.15       0.46
4895                 30.0                 111.0     0.99  2.99       0.46
4896                 20.0                 110.0     0.99  3.34       0.38
4897                 22.0                  98.0     0.99  3.26       0.32

      alcohol  quality
0         8.8        6
1         9.5        6
2        10.1        6
3         9.9        6
4         9.9        6
...       ...      ...
4893     11.2        6
4894      9.6        5
4895      9.4        6
4896     12.8        7
4897     11.8        6

[4898 rows x 12 columns]>

In [47]:
# isna red

red_wines.isna()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,False,False,False,False,False,False,False,False,False,False,False,False
1595,False,False,False,False,False,False,False,False,False,False,False,False
1596,False,False,False,False,False,False,False,False,False,False,False,False
1597,False,False,False,False,False,False,False,False,False,False,False,False
1598,False,False,False,False,False,False,False,False,False,False,False,False

In [53]:
# isna white

white_wines.isna().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [102]:
# describe red 

red_wines.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527842,0.270976,2.538806,0.087473,15.874922,46.467792,0.998505,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047149,10.460157,32.895324,0.003567,0.154386,0.169507,1.065677,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.010000,1.000000,6.000000,0.990000,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,1.000000,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.080000,14.000000,38.000000,1.000000,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,1.000000,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.610000,72.000000,289.000000,1.000000,4.010000,2.000000,14.900000,8.000000

In [103]:
# describe white

white_wines.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000,4898.000000
mean,6.854788,0.278236,0.334192,6.391415,0.045839,35.308085,138.360657,0.993738,3.188267,0.489847,10.514259,5.877909
std,0.843868,0.100834,0.121020,5.072058,0.022066,17.007137,42.498065,0.004889,0.151001,0.114126,1.230618,0.885639
min,3.800000,0.080000,0.000000,0.600000,0.010000,2.000000,9.000000,0.990000,2.720000,0.220000,8.000000,3.000000
25%,6.300000,0.210000,0.270000,1.700000,0.040000,23.000000,108.000000,0.990000,3.090000,0.410000,9.500000,5.000000
50%,6.800000,0.260000,0.320000,5.200000,0.040000,34.000000,134.000000,0.990000,3.180000,0.470000,10.400000,6.000000
75%,7.300000,0.320000,0.390000,9.900000,0.050000,46.000000,167.000000,1.000000,3.280000,0.550000,11.400000,6.000000
max,14.200000,1.100000,1.660000,65.800000,0.350000,289.000000,440.000000,1.040000,3.820000,1.080000,14.200000,9.000000

In [58]:
# Let's now group our qualities into 3 categories: low, medium and high quality wines.
# we are creating a new column called "quality_label", we define a range and associate that range with a label


red_wines['quality_label'] = red_wines['quality'].apply(lambda value: 'low'
if value <= 5 else 'medium'
if value <= 7 else 'high')

In [63]:
# here we are transforming these labels into categrical data type (specific to pandas) instead of simple string

red_wines['quality_label'] = pd.Categorical(red_wines['quality_label'],
categories=['low', 'medium', 'high'])

In [62]:
white_wines['quality_label'] = white_wines['quality'].apply(lambda value: 'low'
if value <= 5 else 'medium'
if value <= 7 else 'high')

white_wines['quality_label'] = pd.Categorical(white_wines['quality_label'],
categories=['low', 'medium', 'high'])

In [65]:
# Epic 3: Exploratory Analysis

pd.concat([red_wines.describe(), white_wines.describe()], axis=1, keys=["Red Wines Stats", "White Wines Stats"])

      Red Wines Stats                                               \
        fixed acidity volatile acidity  citric acid residual sugar
count     1599.000000      1599.000000  1599.000000    1599.000000
mean         8.319637         0.527821     0.270976       2.538806
std          1.741096         0.179060     0.194801       1.409928
min          4.600000         0.120000     0.000000       0.900000
25%          7.100000         0.390000     0.090000       1.900000
50%          7.900000         0.520000     0.260000       2.200000
75%          9.200000         0.640000     0.420000       2.600000
max         15.900000         1.580000     1.000000      15.500000

                                                                          \
         chlorides free sulfur dioxide total sulfur dioxide      density
count  1599.000000         1599.000000          1599.000000  1599.000000
mean      0.087467           15.874922            46.467792     0.996747
std       0.047065           10.460157            32.895324     0.001887
min       0.012000            1.000000             6.000000     0.990070
25%       0.070000            7.000000            22.000000     0.995600
50%       0.079000           14.000000            38.000000     0.996750
75%       0.090000           21.000000            62.000000     0.997835
max       0.611000           72.000000           289.000000     1.003690

                                 ... White Wines Stats                 \
                pH    sulphates  ...       citric acid residual sugar
count  1599.000000  1599.000000  ...       4898.000000    4898.000000
mean      3.311113     0.658149  ...          0.334192       6.391415
std       0.154386     0.169507  ...          0.121020       5.072058
min       2.740000     0.330000  ...          0.000000       0.600000
25%       3.210000     0.550000  ...          0.270000       1.700000
50%       3.310000     0.620000  ...          0.320000       5.200000
75%       3.400000     0.730000  ...          0.390000       9.900000
max       4.010000     2.000000  ...          1.660000      65.800000

                                                                          \
         chlorides free sulfur dioxide total sulfur dioxide      density
count  4898.000000         4898.000000          4898.000000  4898.000000
mean      0.045772           35.308085           138.360657     0.994027
std       0.021848           17.007137            42.498065     0.002991
min       0.009000            2.000000             9.000000     0.987110
25%       0.036000           23.000000           108.000000     0.991723
50%       0.043000           34.000000           134.000000     0.993740
75%       0.050000           46.000000           167.000000     0.996100
max       0.346000          289.000000           440.000000     1.038980


                pH    sulphates      alcohol      quality
count  4898.000000  4898.000000  4898.000000  4898.000000
mean      3.188267     0.489847    10.514267     5.877909
std       0.151001     0.114126     1.230621     0.885639
min       2.720000     0.220000     8.000000     3.000000
25%       3.090000     0.410000     9.500000     5.000000
50%       3.180000     0.470000    10.400000     6.000000
75%       3.280000     0.550000    11.400000     6.000000
max       3.820000     1.080000    14.200000     9.000000

[8 rows x 24 columns]